[build]
publish = "dist"
command = "npm run build"

[[headers]]
for = "/*"
[headers.values]
Permissions-Policy = "interest-cohort=()"

[[redirects]]
from = "https://iamdeveloper.com/*"
to = "https://www.nickyt.co/:splat"
status = 301
force = true

[[redirects]]
from = "https://www.iamdeveloper.com/*"
to = "https://www.nickyt.co/:splat"
status = 301
force = true

[[redirects]]
from = "/posts/*"
to = "/blog/:splat"
status = 301
force = true

[[redirects]]
from = "/talks"
to = "https://nickyt.live/talks"
status = 301
force = true

[[redirects]]
from = "/news"
to = "https://OneTipAWeek.com"
status = 302
force = true

[[redirects]]
from = "/pages/newsletter/*"
to = "https://OneTipAWeek.com?utm_source=nickytco&utm_medium=social"
status = 302
force = true

[[redirects]]
from = "/p/one-tip-a-week-log-points"
to = "https://one-tip-a-week.beehiiv.com/p/one-tip-a-week-log-points"
status = 301
force = true

[[redirects]]
from = "https://pod.iamdeveloper.com/2065897/*"
to = "https://nickyt.co"
status = 302
force = true

[[redirects]]
from = "https://pod.iamdeveloper.com/*"
to = "https://nickscuts.buzzsprout.com/2065897/:splat"
status = 302
force = true

[[redirects]]
from = "https://pod.nickyt.co/2065897/*"
to = "https://nickyt.co"
status = 301
force = true

[[redirects]]
from = "https://pod.nickyt.co/*"
to = "https://nickyt.co"
status = 302
force = true

[[redirects]]
from = "https://vscodetips.com/"
to = "https://nickyt.co"
status = 301
force = true

[[redirects]]
from = "/coc/*"
to = "/pages/coc/:splat"
status = 301
force = true

[[redirects]]
from = "https://discord.iamdeveloper.com/*"
to = "https://discord.gg/FkGSHMxbTe"
status = 301
force = true

# Thanks two Phils! https://www.hawksworx.com/blog/alias-your-mastodon-username-to-your-domain-with-one-netlify-config-setting/
[[redirects]]
from = "/.well-known/webfinger"
to = "https://hachyderm.io/.well-known/webfinger?resource=acct:nickytonline@hachyderm.io"
status = 200

[[redirects]]
from = "/schedule/"
to = "/pages/stream-schedule/"
status = 301
force = true

[[redirects]]
from = "/newsletter.rss"
to = "https://buttondown.email/nickytonline/rss"
status = 302
force = true

[[redirects]]
from = "/pages/newsletter-archives/*"
to = "https://buttondown.email/nickytonline/archive/"
status = 302
force = true

[[redirects]]
from = "/pages/subscription-confirmed"
to = "/pages/subscribed"
status = 302
force = true

[[redirects]]
from = "/pages/stream-schedule/*"
to = "https://nickyt.live/schedule/:splat"
status = 301
force = true

[[redirects]]
from = "/pages/streaming/*"
to = "https://nickyt.live/:splat"
status = 301
force = true

[[redirects]]
from = "/copilot-extension-guide/*"
to = "/blog/creating-your-first-github-copilot-extension-a-step-by-step-guide-28g0/:splat"
staus = 301
force = true

[[redirects]]
from = "/bsky/*"
to = "https://bsky.app/profile/nickyt.online/:splat"
staus = 301
force = true

[[redirects]]
from = "https://nickyt.online/*"
to = "https://bsky.app/profile/nickyt.online/:splat"
staus = 301
force = true

## talk redirects to nickyt.live

[[redirects]]
from = "/pages/talks/appwrite-hacktoberfest-kickoff-2021"
to = "https://nickyt.live/talks/appwrite-hacktoberfest-kickoff-2021"
status = 301
force = true

[[redirects]]
from = "/pages/talks/asking-coding-questions-virtual-coffee-lunch-and-learn-2022"
to = "https://nickyt.live/talks/asking-coding-questions-virtual-coffee-lunch-and-learn-2022"
status = 301
force = true

[[redirects]]
from = "/pages/talks/automate-syndication-and-ownership-of-your-content-with-eleventy-eleventy-meetup-2022"
to = "https://nickyt.live/talks/automate-syndication-and-ownership-of-your-content-with-eleventy-eleventy-meetup-2022"
status = 301
force = true

[[redirects]]
from = "/pages/talks/back-to-basics-why-html-forms-still-rule-the-web-confoo-2025"
to = "https://nickyt.live/talks/back-to-basics-why-html-forms-still-rule-the-web-confoo-2025"
status = 301
force = true

[[redirects]]
from = "/pages/talks/career-lab-q2-2023-watch-your-mentors-interview-each-other"
to = "https://nickyt.live/talks/career-lab-q2-2023-watch-your-mentors-interview-each-other"
status = 301
force = true

[[redirects]]
from = "/pages/talks/debugging-javascript-virtual-coffee-lunch-and-learn"
to = "https://nickyt.live/talks/debugging-javascript-virtual-coffee-lunch-and-learn"
status = 301
force = true

[[redirects]]
from = "/pages/talks/end-to-end-testing-for-browser-extensions-confoo-2024"
to = "https://nickyt.live/talks/end-to-end-testing-for-browser-extensions-confoo-2024"
status = 301
force = true

[[redirects]]
from = "/pages/talks/end-to-end-testing-for-browser-extensions-xtremejs-2024"
to = "https://nickyt.live/talks/end-to-end-testing-for-browser-extensions-xtremejs-2024"
status = 301
force = true

[[redirects]]
from = "/pages/talks/end-to-end-testing-with-cypress-the-collab-lab-tech-talks"
to = "https://nickyt.live/talks/end-to-end-testing-with-cypress-the-collab-lab-tech-talks"
status = 301
force = true

[[redirects]]
from = "/pages/talks/expert-panel--future-of-testing-front-end-test-fest-2023"
to = "https://nickyt.live/talks/expert-panel--future-of-testing-front-end-test-fest-2023"
status = 301
force = true

[[redirects]]
from = "/pages/talks/expert-panel--trending-tools-and-frameworks-front-end-test-fest-2022"
to = "https://nickyt.live/talks/expert-panel--trending-tools-and-frameworks-front-end-test-fest-2022"
status = 301
force = true

[[redirects]]
from = "/pages/talks/fresh--a-full-stack-web-framework-for-deno-all-things-open-2024"
to = "https://nickyt.live/talks/fresh--a-full-stack-web-framework-for-deno-all-things-open-2024"
status = 301
force = true

[[redirects]]
from = "/pages/talks/fresh--a-full-stack-web-framework-for-deno-confoo-2024"
to = "https://nickyt.live/talks/fresh--a-full-stack-web-framework-for-deno-confoo-2024"
status = 301
force = true

[[redirects]]
from = "/pages/talks/fresh--a-full-stack-web-framework-for-deno-global-summit-for-nodejs-24"
to = "https://nickyt.live/talks/fresh--a-full-stack-web-framework-for-deno-global-summit-for-nodejs-24"
status = 301
force = true

[[redirects]]
from = "/pages/talks/fresh--a-new-full-stack-web-framework-for-deno-chicagojs-2022"
to = "https://nickyt.live/talks/fresh--a-new-full-stack-web-framework-for-deno-chicagojs-2022"
status = 301
force = true

[[redirects]]
from = "/pages/talks/fresh--a-new-full-stack-web-framework-for-deno-node-congress"
to = "https://nickyt.live/talks/fresh--a-new-full-stack-web-framework-for-deno-node-congress"
status = 301
force = true

[[redirects]]
from = "/pages/talks/getting-started-with-streaming-on-twitch-virtual-coffee-lunch-and-learn-2021"
to = "https://nickyt.live/talks/getting-started-with-streaming-on-twitch-virtual-coffee-lunch-and-learn-2021"
status = 301
force = true

[[redirects]]
from = "/pages/talks/getting-the-most-out-of-open-source-digitalocean-tech-talk-2020"
to = "https://nickyt.live/talks/getting-the-most-out-of-open-source-digitalocean-tech-talk-2020"
status = 301
force = true

[[redirects]]
from = "/pages/talks/getting-the-most-out-of-open-source-hack-for-la-2023"
to = "https://nickyt.live/talks/getting-the-most-out-of-open-source-hack-for-la-2023"
status = 301
force = true

[[redirects]]
from = "/pages/talks/lets-create-a-github-copilot-extension-all-things-open-ai-2025"
to = "https://nickyt.live/talks/lets-create-a-github-copilot-extension-all-things-open-ai-2025"
status = 301
force = true

[[redirects]]
from = "/pages/talks/lets-create-a-github-copilot-extension-confoo-2025"
to = "https://nickyt.live/talks/lets-create-a-github-copilot-extension-confoo-2025"
status = 301
force = true

[[redirects]]
from = "/pages/talks/storybook-2021-the-collab-lab-tech-talks"
to = "https://nickyt.live/talks/storybook-2021-the-collab-lab-tech-talks"
status = 301
force = true

[[redirects]]
from = "/pages/talks/tools-for-web-developers-live-coding-and-debugging-codementor-2022"
to = "https://nickyt.live/talks/tools-for-web-developers-live-coding-and-debugging-codementor-2022"
status = 301
force = true

[[redirects]]
from = "/pages/talks/why-html-forms-still-rule-the-web-netlify-compose-2024"
to = "https://nickyt.live/talks/why-html-forms-still-rule-the-web-netlify-compose-2024"
status = 301
force = true

[[redirects]]
from = "/pages/talks/words-matter-conventional-comments-virtual-coffee-lightning-talks-2020"
to = "https://nickyt.live/talks/words-matter-conventional-comments-virtual-coffee-lightning-talks-2020"
status = 301
force = true

[[redirects]]
from = "/pages/talks/zero-trust--from-airports-to-identity-aware-proxies-sreday-london-2025-q1"
to = "https://nickyt.live/talks/zero-trust--from-airports-to-identity-aware-proxies-sreday-london-2025-q1"
status = 301
force = true

[[redirects]]
from = "/pages/talks/zero-trust--from-airports-to-identity-aware-proxies-sreday-redmond-2025-q2"
to = "https://nickyt.live/talks/zero-trust--from-airports-to-identity-aware-proxies-sreday-redmond-2025-q2"
status = 301
force = true

[[redirects]]
from = "/pages/talks/zero-trust--from-airports-to-identity-aware-proxies-sreday-san-francisco-2025-q2"
to = "https://nickyt.live/talks/zero-trust--from-airports-to-identity-aware-proxies-sreday-san-francisco-2025-q2"
status = 301
force = true

[[redirects]]
from = "/talks/appwrite-hacktoberfest-kickoff-2021"
to = "https://nickyt.live/talks/appwrite-hacktoberfest-kickoff-2021"
status = 301
force = true

[[redirects]]
from = "/talks/asking-coding-questions-virtual-coffee-lunch-and-learn-2022"
to = "https://nickyt.live/talks/asking-coding-questions-virtual-coffee-lunch-and-learn-2022"
status = 301
force = true

[[redirects]]
from = "/talks/automate-syndication-and-ownership-of-your-content-with-eleventy-eleventy-meetup-2022"
to = "https://nickyt.live/talks/automate-syndication-and-ownership-of-your-content-with-eleventy-eleventy-meetup-2022"
status = 301
force = true

[[redirects]]
from = "/talks/back-to-basics-why-html-forms-still-rule-the-web-confoo-2025"
to = "https://nickyt.live/talks/back-to-basics-why-html-forms-still-rule-the-web-confoo-2025"
status = 301
force = true

[[redirects]]
from = "/talks/career-lab-q2-2023-watch-your-mentors-interview-each-other"
to = "https://nickyt.live/talks/career-lab-q2-2023-watch-your-mentors-interview-each-other"
status = 301
force = true

[[redirects]]
from = "/talks/debugging-javascript-virtual-coffee-lunch-and-learn"
to = "https://nickyt.live/talks/debugging-javascript-virtual-coffee-lunch-and-learn"
status = 301
force = true

[[redirects]]
from = "/talks/end-to-end-testing-for-browser-extensions-confoo-2024"
to = "https://nickyt.live/talks/end-to-end-testing-for-browser-extensions-confoo-2024"
status = 301
force = true

[[redirects]]
from = "/talks/end-to-end-testing-for-browser-extensions-xtremejs-2024"
to = "https://nickyt.live/talks/end-to-end-testing-for-browser-extensions-xtremejs-2024"
status = 301
force = true

[[redirects]]
from = "/talks/end-to-end-testing-with-cypress-the-collab-lab-tech-talks"
to = "https://nickyt.live/talks/end-to-end-testing-with-cypress-the-collab-lab-tech-talks"
status = 301
force = true

[[redirects]]
from = "/talks/expert-panel--future-of-testing-front-end-test-fest-2023"
to = "https://nickyt.live/talks/expert-panel--future-of-testing-front-end-test-fest-2023"
status = 301
force = true

[[redirects]]
from = "/talks/expert-panel--trending-tools-and-frameworks-front-end-test-fest-2022"
to = "https://nickyt.live/talks/expert-panel--trending-tools-and-frameworks-front-end-test-fest-2022"
status = 301
force = true

[[redirects]]
from = "/talks/fresh--a-full-stack-web-framework-for-deno-all-things-open-2024"
to = "https://nickyt.live/talks/fresh--a-full-stack-web-framework-for-deno-all-things-open-2024"
status = 301
force = true

[[redirects]]
from = "/talks/fresh--a-full-stack-web-framework-for-deno-confoo-2024"
to = "https://nickyt.live/talks/fresh--a-full-stack-web-framework-for-deno-confoo-2024"
status = 301
force = true

[[redirects]]
from = "/talks/fresh--a-full-stack-web-framework-for-deno-global-summit-for-nodejs-24"
to = "https://nickyt.live/talks/fresh--a-full-stack-web-framework-for-deno-global-summit-for-nodejs-24"
status = 301
force = true

[[redirects]]
from = "/talks/fresh--a-new-full-stack-web-framework-for-deno-chicagojs-2022"
to = "https://nickyt.live/talks/fresh--a-new-full-stack-web-framework-for-deno-chicagojs-2022"
status = 301
force = true

[[redirects]]
from = "/talks/fresh--a-new-full-stack-web-framework-for-deno-node-congress"
to = "https://nickyt.live/talks/fresh--a-new-full-stack-web-framework-for-deno-node-congress"
status = 301
force = true

[[redirects]]
from = "/talks/getting-started-with-streaming-on-twitch-virtual-coffee-lunch-and-learn-2021"
to = "https://nickyt.live/talks/getting-started-with-streaming-on-twitch-virtual-coffee-lunch-and-learn-2021"
status = 301
force = true

[[redirects]]
from = "/talks/getting-the-most-out-of-open-source-digitalocean-tech-talk-2020"
to = "https://nickyt.live/talks/getting-the-most-out-of-open-source-digitalocean-tech-talk-2020"
status = 301
force = true

[[redirects]]
from = "/talks/getting-the-most-out-of-open-source-hack-for-la-2023"
to = "https://nickyt.live/talks/getting-the-most-out-of-open-source-hack-for-la-2023"
status = 301
force = true

[[redirects]]
from = "/talks/lets-create-a-github-copilot-extension-all-things-open-ai-2025"
to = "https://nickyt.live/talks/lets-create-a-github-copilot-extension-all-things-open-ai-2025"
status = 301
force = true

[[redirects]]
from = "/talks/lets-create-a-github-copilot-extension-confoo-2025"
to = "https://nickyt.live/talks/lets-create-a-github-copilot-extension-confoo-2025"
status = 301
force = true

[[redirects]]
from = "/talks/storybook-2021-the-collab-lab-tech-talks"
to = "https://nickyt.live/talks/storybook-2021-the-collab-lab-tech-talks"
status = 301
force = true

[[redirects]]
from = "/talks/tools-for-web-developers-live-coding-and-debugging-codementor-2022"
to = "https://nickyt.live/talks/tools-for-web-developers-live-coding-and-debugging-codementor-2022"
status = 301
force = true

[[redirects]]
from = "/talks/why-html-forms-still-rule-the-web-netlify-compose-2024"
to = "https://nickyt.live/talks/why-html-forms-still-rule-the-web-netlify-compose-2024"
status = 301
force = true

[[redirects]]
from = "/talks/words-matter-conventional-comments-virtual-coffee-lightning-talks-2020"
to = "https://nickyt.live/talks/words-matter-conventional-comments-virtual-coffee-lightning-talks-2020"
status = 301
force = true

[[redirects]]
from = "/talks/zero-trust--from-airports-to-identity-aware-proxies-sreday-london-2025-q1"
to = "https://nickyt.live/talks/zero-trust--from-airports-to-identity-aware-proxies-sreday-london-2025-q1"
status = 301
force = true

[[redirects]]
from = "/talks/zero-trust--from-airports-to-identity-aware-proxies-sreday-redmond-2025-q2"
to = "https://nickyt.live/talks/zero-trust--from-airports-to-identity-aware-proxies-sreday-redmond-2025-q2"
status = 301
force = true

[[redirects]]
from = "/talks/zero-trust--from-airports-to-identity-aware-proxies-sreday-san-francisco-2025-q2"
to = "https://nickyt.live/talks/zero-trust--from-airports-to-identity-aware-proxies-sreday-san-francisco-2025-q2"
status = 301
force = true

[[redirects]]
from = "/slides/apollo-mcp-july-2025"
to = "https://docs.google.com/presentation/d/e/2PACX-1vRt3EHmvKqC5QM3V9yjWk-IlExgeVx1JlRWBrBNX0XjXrheOieGNz9-R4Nq8vL1iinFtFnn0xI7JjoY/pub?start=false&loop=false&delayms=5000"
status = 301
force = true

[[redirects]]
from = "/fresh-demo"
to = "https://fresh-demo.nickytonline.deno.net/"
status = 301
force = true

[[redirects]]
from = "/bsides2025"
to = "https://docs.google.com/presentation/d/e/2PACX-1vTbLPEshdJJvFgmnmvqlsQDbYmgqgSnK4BTOEPrubl5zF9NGSib_6ltEsHfPhNvmAfwct-erWA3hO7o/pub?start=false&loop=false&delayms=5000"
status = 301
force = true

[[redirects]]
from = "/cyc2025"
to = "https://docs.google.com/presentation/d/e/2PACX-1vSxw2QZXhKQ-tjmbm5RYSDfB28pXvLx-x_TW-e6Ucy2MrGqK2IvQ_O3ChJbK33TPisV0D4NvVJ8A9-9/pub?start=false&loop=false&delayms=5000"
status = 301
force = true
