<section class="post-list pad-top-300">
  <div class="[ inner-wrapper ] [ sf-flow ]">
    <h2 class="[ post-list__heading ] [ text-700 md:text-800 ]">Latest Blog Posts</h2>
    <ol class="[ post-list__items ] [ sf-flow ] [ pad-top-300 ]" reversed>
      {% for item in postListItems %}
        {% if item.date.getTime() <= global.now %}
          <li class="blog flex items-start gap-300">
            <a href="{{ item.url }}" class="hidden md-block" style="width: 150px; flex-shrink: 0;" aria-hidden="true">
              <img src="{{ item.data.cover_image }}" alt="" style="width: 100%; height: auto;" data-not-lazy />
            </a>
            <span class="flex-grow min-w-0" style="margin-top: -0.25em;">
              <h3 class="font-base leading-tight text-600 weight-mid">
                <a href="{{ item.url }}" class="post-list__link" rel="bookmark" style="word-break: break-word;">{{ item.data.title }}</a>
              </h3>
              <p class="text-300 weight-mid italic">
                <time datetime="{{ item.date | w3DateFilter }}">{{ item.date | dateFilter }}</time>
              </p>
            </span>
          </li>
        {% endif %}
      {% endfor %}
      <li class=" blog post-list__item">
        <h3 class="font-base leading-tight text-600 weight-mid">
          <a href="/archive" class="post-list__link" rel="bookmark">More blog posts...</a>
        </h3>
      </li>
    </ol>
  </div>
</section>