<header>
  <div class="[ inner-wrapper ] [ sf-flow ]">
    {% if cover_image %}
      <img
        src="{{ cover_image }}"
        alt="{{ title }}"
        class="[ intro__image ] [ w-full ]"
      />
    {% endif %}
    <h1 class="[ intro__heading text-800 md:text-900 leading-tight p-name">{{ introHeading }}</h1>
    <div class="box-flex gap-base flex-wrap">
      {% boostLink title, page.fileSlug, page.url, canonical_url %}
    </div>
    {% if introSummary %}
      <div class="[ intro__summary ] [ sf-flow ] [ leading-mid measure-short ]">{{ introSummary | safe }}</div>
    {% endif %}
  </div>
</header>