@config "../../tailwind.config.cjs";
@import "./legacy.css";
@import "tailwindcss";

* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: inherit;
}
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
dd,
figure,
figcaption,
dl,
dd,
dt {
  margin: 0px;
  padding: 0px;
}
body {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  scroll-behavior: smooth;
  font-size: 1rem;
  min-height: 100vh;
}
ul[class],
ol[class] {
  list-style: none;
}
a:not([class]) {
  text-decoration: underline;
  text-decoration-skip-ink: auto;
  cursor: pointer;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
select::-webkit-input-placeholder {
  line-height: normal;
}
img {
  max-width: 100%;
}
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation: none !important;
    animation: none !important;
    transition: none !important;
    scroll-behavior: auto !important;
  }
}

.sf-flow {
  --flow-space: 1em;
}
.sf-flow > * + * {
  margin-top: 1em;
  margin-top: var(--flow-space);
}
