---
import Base from "../layouts/Base.astro";
---

<Base title="404 - not found">
  <main id="main-content" tabindex="-1" class="inner-wrapper sf-flow">
    <h1>404 - not found</h1>
    <p>Looks like that page can't be found.</p>
    <p>
      Looking for my newsletter archives? You can find them at
      <a href="https://onetipaweek.com">onetipaweek.com</a>.
    </p>
  </main>
</Base>
