---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout
  title="About"
  metaDesc="About Nick Taylor - Microsoft MVP, GitHub Star, Software Developer, and Developer Advocate."
>
  <main id="main-content" tabindex="-1">
    <article>
      <header>
        <div>
          <h1>About</h1>
          <div>
            <img
              class="float-left w-1/4 rounded-full mr-2 mb-2"
              src="/images/colour-headshot-500x500.jpg"
              alt="Headshot of Nick Taylor"
              loading="lazy"
            /><p>
              Hi! My name is Nick Taylor.I am a Microsoft MVP, GitHub Star,
              Software Developer, and Developer Advocate. With over two decades
              in technology and a decade of open source contributions, plus five
              years of professional open source work at companies like <a
                href="https://opensauced.pizza">OpenSauced</a
              >, <a href="https://dev.to">dev.to</a>, and <a
                href="https://www.netlify.com/">Netlify</a
              >, and now <a href="https://pomerium.com">Pomerium</a>, I bring
              deep community knowledge to my work. You'll often find me live
              streaming tech content, either solo or with friends from the
              community. Wanna get in touch? Drop me an e-mail at nick at nickyt
              dot co.
            </p>
          </div>
        </div>
      </header>
    </article>
  </main></MainLayout
>
