---
import Layout from "../layouts/MainLayout.astro";
import SectionHeader from "../components/SectionHeader.astro";
import {
  getVideos,
  sanitizeVideoDescription,
  NICKYT_LIVE_PLAYLIST_FEED_URL,
  getYouTubeId,
} from "../utils/youtube-utils";

const videos = await getVideos({
  videoFeedUrl: NICKYT_LIVE_PLAYLIST_FEED_URL,
  numberOfVideos: 15,
});

Astro.response.headers.set(
  "Cache-Control",
  "public, max-age=0, must-revalidate"
);
Astro.response.headers.set(
  "Netlify-CDN-Cache-Control",
  "public, max-age=172800, must-revalidate"
);
---

<Layout title="Nick Taylor's live streaming homepage">
  <main id="main" class="max-w-5xl mx-auto px-6 py-12">
    <div class="space-y-12">
      <SectionHeader title="Past Streams" />

      <p class="text-lg text-gray-600">
        View more of the back catalogue on <a
          href="https://youtube.com/@nickytonline"
          class="text-pink-600 hover:underline focus:underline focus:outline-none"
          >youtube.com/@nickytonline</a
        >
      </p>

      <div class="space-y-8">
        {
          videos.map((video) => {
            const videoId = getYouTubeId(video.link);

            return (
              <article>
                <a
                  href={video.link}
                  class="flex flex-col md:grid md:grid-cols-[320px,1fr] gap-6 p-6 bg-white rounded-xl group focus:outline-none"
                >
                  <img
                    src={`https://img.youtube.com/vi/${videoId}/maxresdefault.jpg`}
                    alt=""
                    class="rounded-lg w-full md:w-80 aspect-video object-cover"
                  />
                  <div class="flex flex-col gap-4">
                    <h2 class="text-2xl font-bold leading-tight text-black group-hover:text-pink-600 group-focus:text-pink-600">
                      {video.title}
                    </h2>
                    <div
                      class="text-base text-gray-600 prose prose-sm max-w-none"
                      set:html={sanitizeVideoDescription(video.description)}
                    />
                  </div>
                </a>
              </article>
            );
          })
        }
      </div>

      <p class="text-lg text-gray-600 pt-8 border-t-2 border-rose-100">
        View more of the back catalogue on <a
          href="https://youtube.com/@nickytonline"
          class="text-pink-600 hover:underline focus:underline focus:outline-none"
          >youtube.com/@nickytonline</a
        >
      </p>
    </div>
  </main>
</Layout>
