---
import ThemeToggle from "./ThemeToggle.astro";

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
---

<header
  class="lg:sticky top-0 pt-6 pb-6 bg-background z-10 max-w-7xl mx-auto px-6 transition-colors"
>
  <div
    class="flex flex-col items-center md:items-start md:flex-row gap-6 justify-between"
  >
    <div class="flex flex-col gap-6 items-center md:items-start">
      <h1 class="font-heading md:text-6xl lg:text-8xl font-medium">
        nickyt<span class="text-pink-600">.</span>co
      </h1>
      <nav
        aria-label="main navigation"
        class="mt-2 text-xl md:text-2xl lg:text-3xl"
      >
        <ul class="list-none flex gap-6 place-content-center flex-wrap">
          <li>
            <a
              href="/"
              aria-current={currentPath === "" ? "page" : "false"}
              class="hover:text-pink-600 hover:dark:text-pink-400 hover:underline hover:decoration-pink-600 hover:dark:decoration-pink-400 hover:decoration-4 hover:underline-offset-4 focus:text-pink-600 focus:dark:text-pink-400 focus:underline focus:decoration-pink-600 focus:dark:decoration-pink-400 focus:decoration-4 focus:underline-offset-4 focus:outline-none aria-[current=page]:text-pink-600 aria-[current=page]:dark:text-pink-400 aria-[current=page]:underline aria-[current=page]:decoration-pink-600 aria-[current=page]:dark:decoration-pink-400 aria-[current=page]:decoration-4 aria-[current=page]:underline-offset-4"
              >Home</a
            >
          </li>
          <li>
            <a
              href="/blog"
              aria-current={currentPath.startsWith("blog") ? "page" : "false"}
              class="hover:text-pink-600 hover:dark:text-pink-400 hover:underline hover:decoration-pink-600 hover:dark:decoration-pink-400 hover:decoration-4 hover:underline-offset-4 focus:text-pink-600 focus:dark:text-pink-400 focus:underline focus:decoration-pink-600 focus:dark:decoration-pink-400 focus:decoration-4 focus:underline-offset-4 focus:outline-none aria-[current=page]:text-pink-600 aria-[current=page]:dark:text-pink-400 aria-[current=page]:underline aria-[current=page]:decoration-pink-600 aria-[current=page]:dark:decoration-pink-400 aria-[current=page]:decoration-4 aria-[current=page]:underline-offset-4"
            >
              Blog
            </a>
          </li>
          <li>
            <a
              href="/talks"
              aria-current={currentPath.startsWith("talks") ? "page" : "false"}
              class="hover:text-pink-600 hover:dark:text-pink-400 hover:underline hover:decoration-pink-600 hover:dark:decoration-pink-400 hover:decoration-4 hover:underline-offset-4 focus:text-pink-600 focus:dark:text-pink-400 focus:underline focus:decoration-pink-600 focus:dark:decoration-pink-400 focus:decoration-4 focus:underline-offset-4 focus:outline-none aria-[current=page]:text-pink-600 aria-[current=page]:dark:text-pink-400 aria-[current=page]:underline aria-[current=page]:decoration-pink-600 aria-[current=page]:dark:decoration-pink-400 aria-[current=page]:decoration-4 aria-[current=page]:underline-offset-4"
            >
              Talks
            </a>
          </li>
          <li class="relative group">
            <input
              type="checkbox"
              id="watch-menu-toggle"
              class="peer sr-only"
            />
            <label
              for="watch-menu-toggle"
              aria-label="Close watch menu"
              class="peer-checked:block peer-checked:md:hidden fixed inset-0 z-10 cursor-default hidden"
            ></label>
            <label
              for="watch-menu-toggle"
              class="cursor-pointer hover:text-pink-600 hover:dark:text-pink-400 hover:underline hover:decoration-pink-600 hover:dark:decoration-pink-400 hover:decoration-4 hover:underline-offset-4 focus:text-pink-600 focus:dark:text-pink-400 focus:underline focus:decoration-pink-600 focus:dark:decoration-pink-400 focus:decoration-4 focus:underline-offset-4 focus:outline-none"
              >Watch</label
            >
            <div
              class="absolute invisible opacity-0 transition-all duration-300 transform -translate-y-1 peer-checked:visible peer-checked:opacity-100 peer-checked:translate-y-0 md:group-hover:visible md:group-hover:opacity-100 md:group-hover:translate-y-0 md:group-focus-within:visible md:group-focus-within:opacity-100 md:group-focus-within:translate-y-0 right-0 md:right-auto md:left-0 z-20"
            >
              <ul
                class="mt-4 p-4 grid gap-4 border border-border bg-background min-w-50 shadow-lg z-30 rounded-lg"
              >
                <li>
                  <a
                    href="https://youtube.com/@nickytonline"
                    target="_blank"
                    class="block w-full whitespace-nowrap hover:text-pink-600 hover:dark:text-pink-400 hover:underline hover:decoration-pink-600 hover:dark:decoration-pink-400 hover:decoration-4 hover:underline-offset-4 focus:text-pink-600 focus:dark:text-pink-400 focus:underline focus:decoration-pink-600 focus:dark:decoration-pink-400 focus:decoration-4 focus:underline-offset-4 focus:outline-none"
                    >YouTube</a
                  >
                </li>
                <li>
                  <a
                    href="https://twitch.tv/nickytonline"
                    target="_blank"
                    class="block w-full whitespace-nowrap hover:text-pink-600 hover:dark:text-pink-400 hover:underline hover:decoration-pink-600 hover:dark:decoration-pink-400 hover:decoration-4 hover:underline-offset-4 focus:text-pink-600 focus:dark:text-pink-400 focus:underline focus:decoration-pink-600 focus:dark:decoration-pink-400 focus:decoration-4 focus:underline-offset-4 focus:outline-none"
                    >Twitch</a
                  >
                </li>
                <li>
                  <a
                    href="https://www.youtube.com/playlist?list=PLcR4ZgxWXeIAa0VXPJQ7fgXkx73A5TeGU"
                    target="_blank"
                    class="block w-full whitespace-nowrap hover:text-pink-600 hover:dark:text-pink-400 hover:underline hover:decoration-pink-600 hover:dark:decoration-pink-400 hover:decoration-4 hover:underline-offset-4 focus:text-pink-600 focus:dark:text-pink-400 focus:underline focus:decoration-pink-600 focus:dark:decoration-pink-400 focus:decoration-4 focus:underline-offset-4 focus:outline-none"
                    >Guest Appearances
                  </a>
                </li>
                <li>
                  <a
                    href="https://cfe.dev/talkshow/2full2stack/"
                    target="_blank"
                    class="block w-full whitespace-nowrap hover:text-pink-600 hover:dark:text-pink-400 hover:underline hover:decoration-pink-600 hover:dark:decoration-pink-400 hover:decoration-4 hover:underline-offset-4 focus:text-pink-600 focus:dark:text-pink-400 focus:underline focus:decoration-pink-600 focus:dark:decoration-pink-400 focus:decoration-4 focus:underline-offset-4 focus:outline-none"
                    >2 Full 2 Stack
                  </a>
                </li>
                <li>
                  <a
                    href="https://youtube.com/@pomerium_io"
                    target="_blank"
                    class="block w-full whitespace-nowrap hover:text-pink-600 hover:dark:text-pink-400 hover:underline hover:decoration-pink-600 hover:dark:decoration-pink-400 hover:decoration-4 hover:underline-offset-4 focus:text-pink-600 focus:dark:text-pink-400 focus:underline focus:decoration-pink-600 focus:dark:decoration-pink-400 focus:decoration-4 focus:underline-offset-4 focus:outline-none"
                    >Pomerium Live</a
                  >
                </li>
              </ul>
            </div>
          </li>
          <li>
            <a
              href="https://onetipaweek.com"
              target="_blank"
              class="hover:text-pink-600 hover:dark:text-pink-400 hover:underline hover:decoration-pink-600 hover:dark:decoration-pink-400 hover:decoration-4 hover:underline-offset-4 focus:text-pink-600 focus:dark:text-pink-400 focus:underline focus:decoration-pink-600 focus:dark:decoration-pink-400 focus:decoration-4 focus:underline-offset-4 focus:outline-none"
              >Newsletter</a
            >
          </li>
          <li>
            <a
              href="/socials"
              class="hover:text-pink-600 hover:dark:text-pink-400 hover:underline hover:decoration-pink-600 hover:dark:decoration-pink-400 hover:decoration-4 hover:underline-offset-4 focus:text-pink-600 focus:dark:text-pink-400 focus:underline focus:decoration-pink-600 focus:dark:decoration-pink-400 focus:decoration-4 focus:underline-offset-4 focus:outline-none aria-[current=page]:text-pink-600 aria-[current=page]:dark:text-pink-400 aria-[current=page]:underline aria-[current=page]:decoration-pink-600 aria-[current=page]:dark:decoration-pink-400 aria-[current=page]:decoration-4 aria-[current=page]:underline-offset-4"
              aria-current={currentPath.startsWith("socials")
                ? "page"
                : "false"}
            >
              Socials
            </a>
          </li>
          <li>
            <a
              href="/uses"
              class="hover:text-pink-600 hover:dark:text-pink-400 hover:underline hover:decoration-pink-600 hover:dark:decoration-pink-400 hover:decoration-4 hover:underline-offset-4 focus:text-pink-600 focus:dark:text-pink-400 focus:underline focus:decoration-pink-600 focus:dark:decoration-pink-400 focus:decoration-4 focus:underline-offset-4 focus:outline-none aria-[current=page]:text-pink-600 aria-[current=page]:dark:text-pink-400 aria-[current=page]:underline aria-[current=page]:decoration-pink-600 aria-[current=page]:dark:decoration-pink-400 aria-[current=page]:decoration-4 aria-[current=page]:underline-offset-4"
              aria-current={currentPath.startsWith("uses") ? "page" : "false"}
              >Uses
            </a>
          </li>
          <li>
            <a
              href="/about"
              class="hover:text-pink-600 hover:dark:text-pink-400 hover:underline hover:decoration-pink-600 hover:dark:decoration-pink-400 hover:decoration-4 hover:underline-offset-4 focus:text-pink-600 focus:dark:text-pink-400 focus:underline focus:decoration-pink-600 focus:dark:decoration-pink-400 focus:decoration-4 focus:underline-offset-4 focus:outline-none aria-[current=page]:text-pink-600 aria-[current=page]:dark:text-pink-400 aria-[current=page]:underline aria-[current=page]:decoration-pink-600 aria-[current=page]:dark:decoration-pink-400 aria-[current=page]:decoration-4 aria-[current=page]:underline-offset-4"
              aria-current={currentPath.startsWith("about") ? "page" : "false"}
              >About
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="flex items-center gap-2">
      <a
        href="/feed.xml"
        class="inline-flex hover:text-pink-600 hover:dark:text-pink-400 focus:text-pink-600 focus:dark:text-pink-400 focus:outline-none"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="3"
          stroke-linecap="round"
          stroke-linejoin="round"
          aria-hidden="true"
          class="w-4.5 h-4.5 lg:w-5 lg:h-5"
        >
          <path d="M4 11a9 9 0 0 1 9 9"></path>
          <path d="M4 4a16 16 0 0 1 16 16"></path>
          <circle cx="5" cy="19" r="1"></circle>
        </svg>
        <span class="sr-only">Subscribe via RSS Feed</span>
      </a>
      <ThemeToggle />
    </div>
  </div>
</header>
