---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<div class="mb-8">
  <h2 class="text-5xl font-extrabold tracking-tight text-balance">{title}</h2>
  <div class="w-20 h-1.5 bg-gradient-to-r from-pink-600 to-pink-400 rounded-full mt-3"></div>
</div>
