---
interface Props {
  url: string;
}

const { url } = Astro.props;

let instagramUrl: URL;

if (url.startsWith("http")) {
  instagramUrl = new URL(url);
} else {
  instagramUrl = new URL(url, "https://www.instagram.com/p/");
}
---

<div class="w-full max-w-4xl mx-auto">
  <blockquote
    class="instagram-media"
    data-instgrm-permalink={instagramUrl.toString()}
    data-instgrm-version="14"
  >
    <a href={url}>View this post on Instagram</a>
  </blockquote>
</div>
<script>
  const scriptSrc = "//www.instagram.com/embed.js";
  if (!document.querySelector(`script[src*="instagram.com/embed.js"]`)) {
    const script = document.createElement("script");
    script.async = true;
    script.src = scriptSrc;
    document.head.appendChild(script);
  } else if (
    (window as Window & { instgrm?: { Embeds: { process: () => void } } })
      .instgrm
  ) {
    // Re-process embeds if script already loaded
    (
      window as Window & { instgrm?: { Embeds: { process: () => void } } }
    ).instgrm.Embeds.process();
  }
</script>
